*{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
body{
    overflow-x: hidden;
}

/* Fonts */
.oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.arizonia-regular {
    font-family: "Arizonia", cursive;
    font-weight: 400;
    font-style: normal;
}

/*Header*/
header{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: black url("img/background.jpg") no-repeat  ;
    background-size: cover;
}
/* Navigation */
header >nav{
    width: 100vw;
    height: 10vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
header >nav >.logo{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
header >nav >.liens-nav{
    width: 50%;
    height: 100%;
}
header > nav > .reseau-nav{
    width: 25%;
    height: 100%;
}
header > nav > .liens-nav > ul{

    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
header > nav >.reseau-nav > ul{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
header > nav > .reseau-nav > ul > li{
    height: 60%;
    width: auto;
    padding-right: 2vw;
    overflow: hidden;
}
header > nav > .reseau-nav a img{
    background-color: white;
    height: 80%;
    padding: 2px;
    border-radius:50%;
}
header > nav > .liens-nav a{
    font-size: 2rem;
    font-family: "oswald";
    text-decoration: none;
    color: white;
}
/* Presentation */
header > .presentation{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: rgb(255, 255, 255);

}
header > .presentation h1{
    font-family: "arizonia";
    font-size: 6rem;
}
header > .presentation h2 {
    font-family: "arizonia";
    font-size: 4rem;
}
header > .presentation a{
    margin-top: 16vh;
    font-size: 1.5rem;
    border-radius: 10px;
    text-align: center;
    padding: 3vh 5vw;
    font-family: "oswald";
    width: auto;
    height: auto;
    text-decoration: none;
    color: black;
    background-color: #ffffff;
}

/*Main*/
main{

    font-family: "oswald";
    background-color: #1f2c44;
    display: flex;
    flex-direction: column;
    width: 100vw;

}
main a{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 2vh 2vw;
    border-radius: 5px;
    margin-top: 2vh;
    margin-left: 5vw;
}
main h2{
    color:white;
    background-color: rgba(0,0,0,0.2);
    padding: 2vw;
    border-radius: 15px;
    font-size: 3rem;
}
main p{
    color: white;
    border-radius: 15px;
    padding: 2vw;
    background-color: rgba(0,0,0,0.2);
    margin-top: 6vh;
    width: 15vw;
    font-size: 1.5rem;
    text-align: justify;

}
main section{
    overflow: hidden;
    border-radius: 15px;
    margin-top: 2.5vh;*
    margin-bottom: 2.5vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vw;
    width: 40vw;
    align-items: start;


}
main > .a-propos{
    margin-left: 10vw;
    background: url("img/section_1.JPG") no-repeat;
    background-size: contain;
}
main > .mes-competences {
    margin-left: 25vw;
    background: url("img/DSCF0063.JPG") no-repeat;
    background-size: contain;

}
main > .mes-projets {
    margin-left: 40vw;
    background: url("img/section_3.JPG") no-repeat;
    background-size: contain;

}